<div class="hero h-min bg-gradient-to-r from-red-200 to-red-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <div class="flex justify-center">
        <img src="assets/vida-plus.svg" class="size-14" />
      </div>
      <h1 class="text-5xl font-bold">Bem-vindo ao VidaPlus</h1>
      <p class="py-6">
        Gerencie toda a estrutura do hospital, como cadastro de pacientes,
        marcação de consultas, históricos, e muito mais
      </p>
    </div>
  </div>
</div>
