<div class="flex justify-between pb-2">
  <h2 class="text-2xl font-bold">Técnicos</h2>
  <button
    class="btn btn-ghost"
    (click)="modal_cadastrar_profissional.showModal()"
  >
    Cadastrar Técnico
    <app-icon-plus></app-icon-plus>
  </button>
  <dialog
    id="modal_cadastrar_profissional"
    #modal_cadastrar_profissional
    class="modal"
  >
    <div class="modal-box">
      <form [formGroup]="formNovoProfissional" class="flex gap-4 flex-col">
        <label class="fieldset-label justify-end"
          ><span>Nome</span>

          <input
            type="text"
            class="input"
            [ngClass]="{
              'border-red-400':
                formNovoProfissional.get('nome')?.invalid &&
                formNovoProfissional.get('nome')?.touched
            }"
            placeholder="Nome"
            formControlName="nome"
          />
        </label>

        <label class="fieldset-label justify-end">
          Especialidade
          <input
            type="text"
            class="input"
            [ngClass]="{
              'border-red-400':
                formNovoProfissional.get('especialidade')?.invalid &&
                formNovoProfissional.get('especialidade')?.touched
            }"
            placeholder="especialidade"
            formControlName="especialidade"
          />
        </label>
      </form>
      <div class="modal-action">
        <button
          type="button"
          class="btn btn-ghost"
          (click)="modal_cadastrar_profissional.close()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-neutral"
          [disabled]="formNovoProfissional.invalid"
          (click)="cadastrar(); modal_cadastrar_profissional.close()"
        >
          Cadastrar
        </button>
      </div>
    </div>
  </dialog>
</div>
<div
  class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mb-8"
>
  <table class="table">
    <thead class="bg-gray-100">
      <tr>
        <th class="w-14"></th>
        <th>Nome</th>
        <th>Especialidade</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let professional of professionals">
        <tr class="hover:bg-gray-50">
          <th class="border-r border-r-gray-100 text-center">
            {{ professional?.id }}
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="rounded-full bg-gray-700 text-white p-2">
                <app-icon-person></app-icon-person>
              </div>
              <div>{{ professional?.nome }}</div>
            </div>
          </td>
          <td>{{ professional?.especialidade }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
