<div class="container mx-auto mt-4 p-8">
  <div class="tabs tabs-lift">
    <input
      type="radio"
      name="my_tabs_3"
      class="tab"
      aria-label="Médicos"
      checked="checked"
    />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <app-medicos></app-medicos>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Enfermeiros" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <app-enfermeiros></app-enfermeiros>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Técnicos" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <app-tecnicos></app-tecnicos>
    </div>
  </div>
</div>
