<div class="container mx-auto mt-4 p-2">
  <div class="flex justify-between pb-2">
    <h2 class="text-2xl font-bold">Pacientes</h2>
    <button class="btn btn-ghost" (click)="modal_cadastrar_cliente.showModal()">
      Cadastrar Paciente
      <app-icon-plus></app-icon-plus>
    </button>
    <dialog id="modal_cadastrar_cliente" #modal_cadastrar_cliente class="modal">
      <div class="modal-box">
        <form [formGroup]="formNovopaciente" class="flex gap-4 flex-col">
          <label class="fieldset-label justify-end"
            ><span>Nome</span>

            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('nome')?.invalid &&
                  formNovopaciente.get('nome')?.touched
              }"
              placeholder="Nome"
              formControlName="nome"
            />
          </label>

          <label class="fieldset-label justify-end">
            País
            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('pais')?.invalid &&
                  formNovopaciente.get('pais')?.touched
              }"
              placeholder="País"
              formControlName="pais"
            />
          </label>
          <label class="fieldset-label justify-end">
            Profissão
            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('profissao')?.invalid &&
                  formNovopaciente.get('profissao')?.touched
              }"
              placeholder="Profissão"
              formControlName="profissao"
            />
          </label>
          <label class="fieldset-label justify-end">
            Plano de saúde
            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('planoSaude')?.invalid &&
                  formNovopaciente.get('planoSaude')?.touched
              }"
              placeholder="plano de saúde"
              formControlName="planoSaude"
            />
          </label>
        </form>
        <div class="modal-action">
          <button
            type="button"
            class="btn btn-ghost"
            (click)="modal_cadastrar_cliente.close()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-neutral"
            [disabled]="formNovopaciente.invalid"
            (click)="cadastrar(); modal_cadastrar_cliente.close()"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </dialog>
  </div>
  <div
    class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mb-8"
  >
    <table class="table">
      <!-- head -->
      <thead class="bg-gray-100">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Profissão</th>
          <th>Plano de saúde</th>
          <!-- <th class="w-20">detalhes</th> -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let patient of patients">
          <tr
            class="hover:bg-gray-50 cursor-pointer"
            (click)="goToPatientDetails(patient)"
          >
            <th>{{ patient.id }}</th>
            <td>
              <div class="flex items-center gap-3">
                <div class="rounded-full bg-white shadow-md p-2">
                  <app-icon-person></app-icon-person>
                </div>
                <div>
                  <div class="font-bold">{{ patient.nome }}</div>
                  <div class="text-sm opacity-50">{{ patient.pais }}</div>
                </div>
              </div>
            </td>
            <td>{{ patient.profissao }}</td>
            <td>{{ patient.planoSaude }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
