<h2>Informações do paciente</h2>
<div class="p-4 space-y-4">
  <form class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <label class="flex flex-col">
      <span>Nome</span>
      <input type="text" placeholder="Nome" class="input w-full" />
    </label>
    <label class="flex flex-col">
      <span>Profissão</span>
      <input type="text" placeholder="Profissão" class="input w-full" />
    </label>
    <label class="flex flex-col">
      <span>País</span>
      <input type="text" placeholder="País" class="input w-full" />
    </label>
    <label class="flex flex-col">
      <span>Plano de Saúde</span>
      <input type="text" placeholder="Plano de Saúde" class="input w-full" />
    </label>
    <label class="flex flex-col">
      <span>Peso</span>
      <input type="text" placeholder="Peso" class="input w-full" />
    </label>
    <label class="flex flex-col">
      <span>Altura</span>
      <input type="text" placeholder="Altura" class="input w-full" />
    </label>
  </form>

  <button class="btn btn-neutral">Atualizar</button>
</div>
