<div class="container mx-auto mt-4 p-8">
  <div class="flex justify-between pb-2">
    <h2 class="text-2xl font-bold">Pacientes</h2>
    <button class="btn btn-ghost" (click)="modal_cadastrar_cliente.showModal()">
      Cadastrar Paciente
      <app-icon-plus></app-icon-plus>
    </button>
    <dialog id="modal_cadastrar_cliente" #modal_cadastrar_cliente class="modal">
      <div class="modal-box">
        <form [formGroup]="formNovopaciente" class="flex gap-4 flex-col">
          <label class="fieldset-label justify-end"
            ><span>Nome</span>

            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('nome')?.invalid &&
                  formNovopaciente.get('nome')?.touched
              }"
              placeholder="Nome"
              formControlName="nome"
            />
          </label>
          <label class="fieldset-label justify-end">
            Email
            <input
              type="email"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('email')?.invalid &&
                  formNovopaciente.get('email')?.touched
              }"
              placeholder="Email"
              formControlName="email"
            />
          </label>
          <label class="fieldset-label justify-end">
            Telefone
            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('telefone')?.invalid &&
                  formNovopaciente.get('telefone')?.touched
              }"
              placeholder="Telefone"
              formControlName="telefone"
            />
          </label>
          <label class="fieldset-label justify-end">
            Profissão
            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('profissao')?.invalid &&
                  formNovopaciente.get('profissao')?.touched
              }"
              placeholder="Profissão"
              formControlName="profissao"
            />
          </label>
          <label class="fieldset-label justify-end">
            Plano de saúde
            <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovopaciente.get('planoSaude')?.invalid &&
                  formNovopaciente.get('planoSaude')?.touched
              }"
              placeholder="plano de saúde"
              formControlName="planoSaude"
            />
          </label>
        </form>
        <div class="modal-action">
          <button
            type="button"
            class="btn btn-ghost"
            (click)="modal_cadastrar_cliente.close(); formNovopaciente.reset()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-neutral"
            [disabled]="formNovopaciente.invalid"
            (click)="cadastrar(); modal_cadastrar_cliente.close()"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </dialog>
  </div>
  <div class="rounded-box border border-base-content/5 bg-base-100 mb-8">
    <table class="table">
      <!-- head -->
      <thead class="bg-gray-100">
        <tr>
          <th class="w-14"></th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Profissão</th>
          <th>Plano de saúde</th>
          <th></th>
          <!-- <th class="w-20">detalhes</th> -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let paciente of pacientes">
          <tr class="hover:bg-gray-50">
            <th class="border-r border-r-gray-100 text-center">
              {{ paciente.id }}
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="rounded-full bg-gray-700 text-white p-2">
                  <app-icon-person></app-icon-person>
                </div>
                <div>
                  <div class="font-bold">{{ paciente.nome }}</div>
                </div>
              </div>
            </td>
            <td>{{ paciente.email }}</td>
            <td>{{ paciente.telefone }}</td>
            <td>{{ paciente.profissao }}</td>
            <td>{{ paciente.planoSaude }}</td>
            <td>
              <div class="dropdown dropdown-end">
                <div
                  tabindex="0"
                  role="button"
                  class="btn btn-circle m-1 bg-white"
                >
                  <app-icon-options></app-icon-options>
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu bg-base-100 rounded-box p-2 shadow-sm z-50"
                >
                  <li>
                    <a
                      class="text-red-400"
                      (click)="modal_remover_paciente.showModal()"
                    >
                      <app-icon-remove></app-icon-remove>
                      Remover
                    </a>
                  </li>
                  <li (click)="irParaDetalhes(paciente)">
                    <a>
                      <app-icon-details></app-icon-details>
                      <span class="text-nowrap"> Ver detalhes </span>
                    </a>
                  </li>
                </ul>
              </div>
              <dialog
                id="modal_remover_paciente"
                #modal_remover_paciente
                class="modal"
              >
                <div class="modal-box">
                  <h3 class="text-lg font-bold">Importante</h3>
                  <p class="py-4">
                    Deseja realmente remover o paciente:
                    <span class="font-bold text-lg">{{ paciente.nome }}</span>
                  </p>
                  <div class="modal-action">
                    <button
                      type="button"
                      class="btn btn-ghost"
                      (click)="modal_remover_paciente.close()"
                    >
                      Cancelar
                    </button>
                    <button
                      class="btn btn-error"
                      (click)="
                        removerPaciente(paciente);
                        modal_remover_paciente.close()
                      "
                    >
                      Remover
                    </button>
                  </div>
                </div>
              </dialog>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<app-alerta-sucesso
  *ngIf="mostrarAlertaSucesso"
  [mensagemAlerta]="mensagemAlerta"
></app-alerta-sucesso>
