<div class="flex justify-between items-center pb-2">
  <h2 class="text-2xl font-bold">Dados das consultas</h2>

  <div>
    <button class="btn btn-ghost" (click)="modal_cadastrar_cliente.showModal()">
      Marcar consulta
      <app-icon-plus></app-icon-plus>
    </button>
    <dialog id="modal_cadastrar_cliente" #modal_cadastrar_cliente class="modal">
      <div class="modal-box">
        <form [formGroup]="formNovaConsulta" class="flex gap-4 flex-col">
          <label class="fieldset-label justify-end"
            ><span>Nome do Médico</span>

            <!-- <input
              type="text"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovaConsulta.get('nomeMedico')?.invalid &&
                  formNovaConsulta.get('nomeMedico')?.touched
              }"
              placeholder="Nome do médico"
              formControlName="nomeMedico"
            /> -->

            <select class="select" formControlName="nomeMedico">
              <option disabled selected>Selecione um médico</option>
              <option *ngFor="let medico of medicos" [value]="medico.nome">
                {{ medico.nome }}
              </option>
            </select>
          </label>

          <label class="fieldset-label justify-end">
            Data
            <input
              type="date"
              class="input"
              [ngClass]="{
                'border-red-400':
                  formNovaConsulta.get('data')?.invalid &&
                  formNovaConsulta.get('data')?.touched
              }"
              formControlName="data"
            />
          </label>
        </form>
        <div class="modal-action">
          <button
            type="button"
            class="btn btn-ghost"
            (click)="modal_cadastrar_cliente.close(); formNovaConsulta.reset()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-neutral"
            [disabled]="formNovaConsulta.invalid"
            (click)="addConsulta(); modal_cadastrar_cliente.close()"
          >
            Agendar
          </button>
        </div>
      </div>
    </dialog>
  </div>
</div>

<div class="rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <!-- head -->
    <thead class="bg-gray-100">
      <tr>
        <th class="w-14"></th>
        <th>Médico</th>
        <th>Data</th>
        <th>Status</th>
        <th></th>
        <!-- <th class="w-20">detalhes</th> -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let consulta of consultas">
        <tr class="hover:bg-gray-50">
          <th class="border-r border-r-gray-100 text-center">
            {{ consulta?.id }}
          </th>
          <td>
            <div class="font-bold">{{ consulta?.nomeMedico }}</div>
          </td>
          <td>{{ consulta?.data | date : "dd/MM/yyyy" }}</td>
          <td>
            <div
              class="badge text-white w-full"
              [ngClass]="{
                'badge-success': consulta?.status == 'Consultado',
                'badge-warning': consulta?.status == 'A consultar',
                'badge-error': consulta?.status == 'Cancelado'
              }"
            >
              {{ consulta?.status }}
            </div>
          </td>
          <td>
            <div class="dropdown dropdown-end">
              <div
                tabindex="0"
                role="button"
                class="btn btn-circle m-1 bg-white"
              >
                <app-icon-options></app-icon-options>
              </div>
              <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box p-2 shadow-sm z-50"
              >
                <li>
                  <a class="text-red-400" (click)="cancelarConsulta(consulta)">
                    <app-icon-cancel></app-icon-cancel>
                    Cancelar
                  </a>
                </li>
                <li (click)="marcarFeito(consulta)">
                  <a class="text-green-400">
                    <app-icon-check></app-icon-check>
                    <span class="text-nowrap">Consultado</span>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<app-alerta-sucesso
  *ngIf="mostrarAlertaSucesso"
  [mensagemAlerta]="mensagemAlerta"
></app-alerta-sucesso>
