.container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}

.mat-mdc-cell {
  border-bottom: none;
}

.mat-mdc-row:hover {
  background: #eee;
}
