<div class="h-screen w-full flex justify-center items-center flex-col gap-2">
  <h1 class="font-bold text-2xl flex flex-col items-center">
    <img src="assets/vida-plus.svg" class="size-5" />
    VidaPlus
  </h1>
  <fieldset class="fieldset w-xs border border-base-300 p-4 rounded-box shadow">
    <form [formGroup]="form" class="flex gap-4 flex-col">
      <label class="fieldset-label flex-col"
        >Usuário

        <input
          type="text"
          class="input"
          [ngClass]="{
            'border-red-400':
              form.get('usuario')?.invalid && form.get('usuario')?.touched
          }"
          placeholder="Usuário"
          formControlName="usuario"
        />
      </label>

      <label class="fieldset-label flex-col">
        Senha
        <input
          type="password"
          class="input"
          [ngClass]="{
            'border-red-400':
              form.get('senha')?.invalid && form.get('senha')?.touched
          }"
          placeholder="Password"
          formControlName="senha"
        />
      </label>
    </form>
    <button
      class="btn btn-neutral mt-4"
      [disabled]="form.invalid"
      (click)="login()"
    >
      Login
    </button>
  </fieldset>
</div>
